:root {
  --swiper-pagination-color: #1f714b;
  --swiper-navigation-color: #1f714b;
}

.swiper {
  width: 100%;
}

.infoCard {
  background-color: #529c2a;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 23px;
  padding: 27px 65px 78px;
  gap: 40px;
}
.cardTitle {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.cardContent {
  color: white;
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: max(17px, 1.7vw);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .infoCard {
    padding: 20px;
  }
}
