header{
  display: flex;
  width: 100%;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px  solid red;
  width: 100%;
  padding: 28px 100px 0 100px;
}

ul{
  gap: 9px;
  list-style: none;
  display: flex;
}

button {
  width: 107px;
  height: 21px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: transparent; 
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 20px;
  border: 1px solid red;
}