.infoSection {
  width: 100%;
  height: auto;
  padding: 40% 100px 0px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 40px;
}

.infoTitle {
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  padding: 4px;
  font-weight: 600;
  border-radius: 10px;
}
.infoTitle h1 {
  font-family: Roboto serif, sans-serif;
  color: #1f714b;
  font-weight: normal;
  font-size: 30px;
}

.infoCard {
  background-color: #58b328;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 23px;
  padding: 27px 65px 78px;
  gap: 20px;
}
.cardTitle {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.cardContent {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .infoSection {
    padding: 40% 23px 0px;
    border: 1px solid red;
  }

  .cardContent {
    font-size: 18px;
  }

  .infoCard {
    padding: 20px;
  }
}
